// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.prj{
    position: relative;
    width: 100%;
}
.prjImg {
    display: block;
    width: 100%;
    height: auto;
    border-radius: calc(0.4rem - 1px);
  }
  
.prjBody{
    height: 100%;
}
.prjButton{
    width: fit-content;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
    transition: .5s ease;
}

.overlay {
    background-color: #000;
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    border-radius: calc(0.4rem - 1px);
}

.tagButton {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    border: none;
}
  
.prj:hover .overlay {
    opacity: 0.7;
}

.prj:hover .text{
    opacity: 1;
}