// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


////font
    // $text: #0c0c0c;
    // $bg : #f0f0f0;
    // $transBg: rgba(26, 24, 22,0.7);
    // $shadow: rgb(107, 107, 107);

    $text:#f0f0f0;
    $bg : #0c0c0c;
    $transBg: rgba(26, 24, 22,0.7);
    $shadow: rgb(107, 107, 107);

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    font-family: 'Poiret One', cursive;
    color: $text !important;
    background-color: $bg !important;
    // overflow: hidden !important;
}
h1{
    font-size: 2.5rem;    
}
h2{
    font-size: 2rem;
}
p{
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
}
nav{
    background-color: $bg;
}
.navLink{
    font-size: 1.3rem;
}
a{
    color: $shadow;
    text-decoration: none !important;
    transition: ease 500ms;
}
.dotItem{
    text-align: -webkit-center;
}
.dot{
    margin-top: 4px;
    height: 1px;
    width: 0%;
    background-color: $text;
    border-radius:  calc(0.7rem - 1px);;
    display: block;
    opacity: 0;
    transition: ease all 500ms;
}
a:hover{
    color: $text;
}
a:hover .dot{
    opacity: 1;
    width: 50%;
}
.twinkle{
    animation: twinkle 3000ms linear infinite !important;
}
.twinkle:hover{
    transition: ease 500ms!important;
    text-decoration-line: underline !important;
}
@keyframes twinkle{
    0%{color: $shadow;}
    50%{color: $text;}
    100%{color: $shadow;}
}
////COVER PAGE
.coverPage{
    height: 100vh;
    overflow-y: hidden !important;
} 
.coverPage h1{
    font-size: 3.5rem;
}
.coverPage p{
    margin-top: 16px;
}
////logo
.logo{
    font-size: 2.5rem !important;
    font-weight: bold;;
}

//projects
.prj{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.prjImg {
    display: inline;
    width: 100%;
    height: auto;
    border-radius: calc(0.7rem - 1px);
  }
.prjTitle{
    font-size: 1.5rem;
}
.prjCateg{
    font-size:1rem;
}
.prjBody{
    height: 100%;
}
.prjButton{
    width: fit-content;
    padding: 3px 10px;
    background-color: transparent;
    color: $text;
    transition: .5s ease;
}

.overlay{
    background-color: $bg;
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    border-radius: calc(0.7rem - 1px);
}
.tagButton{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border: none;
    transition: ease 500ms;
}
.tagInput {
    width: auto;
    height: auto;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border: 1px $text solid;
    line-height: 1;
    border-radius: calc(0.7rem - 1px);
}
.mainButton{
    border: 1px $text solid;
    border-radius: calc(0.7rem - 1px);
    transition: ease 500ms;
}
.mainButton:hover{
    background-color: $text !important;
    color: $bg !important;
}
.prj:hover .overlay{
    opacity: 0.7;
}

.prj:hover .text{
    opacity: 1;
}

.projects{
    position: relative;
}


// ProjectDetails PopUp
.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.projectDetailsBg{
    z-index: 9998;
    background-color:$transBg;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
} 
.projectDetails{
    z-index: 9999;
    background-color: $bg;
    width: 80%;
    height: 95%;
    border-radius: calc(0.7rem - 1px);
}
//// ProjectDetails Header
.projectDetailsHeader{
    position:sticky;
    background-color: $text;
    border-top-left-radius: calc(0.7rem - 1px);
    border-top-right-radius: calc(0.7rem - 1px);
}
.projectDetailsHeader .prjTitle{
    color: $bg;
    font-size: 3.5rem ;
    margin-bottom: 0rem;
}
.projectDetailsHeader .prjCateg{
    font-size: 1.3rem;
    color: $bg;
    margin-bottom: 0rem;
}
.projectDetailsHeader span{
    color: $bg;
    margin-bottom: 0rem;
}
//// ProjectDetails Body
.projectDetailsBody{
    width: 100%;
    overflow-y: scroll;
}
.projectDeatilsBody *{
    font-size: 1.3rem;
}
.prjDetImg{
    overflow: hidden;
    width: 100%;
    height: 80%;
}
.descriptionSection{
    // color: $text;
    // background-color: $bg;
    // border-radius: calc(0.7rem - 1px);
}
.sectionTitle{
    width: fit-content;
    border-bottom: $text 1px solid;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
}
.sectionSubTitle{
    width: fit-content;
    border-bottom: $text 1px solid;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
}
.leftLine{
    border-left:$text 1px solid;
    padding-left: 1rem;
}
.builtWithList{
    text-decoration: none;
    list-style: none;
}
.builtWithItem{
    font-size: 20.8px;
}
.commentProfilName{
    font-weight: bold;
}
.commentProfilP{
    margin-bottom: 0px ;
}
.commentProfilPic{
    max-width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: calc(0.7rem - 1px);
}
////// ProjectDetails Footer
.projectDetailsFooter{
    position:sticky;
    height: fit-content;
    background-color: $text;
    border-bottom-left-radius: calc(0.7rem - 1px);
    border-bottom-right-radius: calc(0.7rem - 1px);
}
.projectDetailsFooter .tagButton{
    background-color: $text;
}
.projectDetailsFooter span{
    font-size: 1.3rem;
    color: $bg;
    margin-bottom: 0rem;
}
.projectDetailsFooter .row{
    margin: 0% !important;
}
.projectDetailsFooter .tagInput{
    color: $bg;
    background-color: $text;
    border: 1px $bg solid;
}
.commentInputCont{
    width: 80%;
    height: 2.5rem;
}
.commentInput{
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 1.3rem;
    line-height: initial;
}
.commentButton{
    width: 20%;
}

////////////////////
.box{
    border:2px $text solid;
    border-radius: calc(0.7rem - 1px);
    position:relative;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.ratingSlot{
    position:relative;
    width: 4.25rem;
    height: 2.25rem;
    justify-content: center;
    align-items: center;
}
.slotChild{
    position:relative;
    justify-content: center;
    align-items: center;
    border-radius: calc(0.7rem - 1px);
}
.slotChild.isNotNumber{
    width:0.75rem ;
    height: 2.25rem;
    color: $text;
    background-color: $bg;
}
.slotChild.isNotNumber h3{
    color: $text;
}
.slotChild.isNumber{
    width: 1.75rem ;
    height: 2.25rem;
    border-radius: calc(0.7rem - 1px);
    color: $bg;
    background-color: $text;
}
.slotChild.isNumber h3{
    position: absolute;
    width: fit-content;
    margin: 0%;
    color: $bg;
}
.slotNumberAnimate{
    animation: load 350ms ease-in-out infinite;
}
@keyframes load {
    0%{top: -30px;opacity: 0;}
    5%{top: -26px;opacity: 0;}
    10%{top: -22px;opacity: 0.2;}
    15%{top: -18px;opacity: 0.4;}
    20%{top: -14px;opacity: 0.6;}
    25%{top: -10px;opacity: 0.8;}
    30%{top: -4px;opacity: 1;}
    35%{top: -3px;opacity: 1;}
    40%{top: -2px;opacity: 1;}
    45%{top: 0px;opacity: 1;}
    50%{top: 0px;opacity: 1;}
    55%{top: 0px;opacity: 1;}
    60%{top: 2px;opacity: 1;}
    65%{top: 3px;opacity: 1;}
    70%{top: 4px;opacity: 1;}
    75%{top: 10px;opacity: 0.8;}
    80%{top: 14px;opacity: 0.6;}
    85%{top: 18px;opacity: 0.4;}
    90%{top: 22px;opacity: 0.2;}
    95%{top: 26px;opacity: 0;}
    100%{top: 30px;opacity: 0;}
}


//whoAmI
.tagList{
    text-decoration: none;
    list-style: none;
}
.tagItem{
    text-decoration: none;
}
.tagShadow{
    border-radius: calc(0.7rem - 1px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: .7s ease;
}
.tagShadow:hover{
    background-color: $shadow;
    box-shadow: 0 0 6px $transBg;
    transition: .7s ease;
}
.diplomatsItem{
    text-decoration: none;
    margin-bottom: 2rem;
}
.skillsList{
    margin-bottom: 2rem;
}
.skillsItem{
    text-decoration: none;
}