// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';


body{
    font-family: 'Poiret One', cursive;
    color: $text !important;
    background-color: $bg !important;
    font-weight: bold !important;
    // overflow: hidden !important;
}
h1{
    font-size: 2.5rem; 
    font-weight: bold !important;   
}
h2{
    font-size: 2rem;
    font-weight: bold !important;
}
h3{
    font-weight: bold !important;
}
h4{
    font-weight: bold !important;
}
h5{
    font-weight: bold !important;
}
h6{
    font-weight: bold !important;
}
p{
    font-size: 1.5rem;
}
nav{
    background-color: $bg;
}
.navLink{
    font-size: 1.3rem;
}
a{
    color: $shadow;
    text-decoration: none !important;
    transition: ease 500ms;
}
.dotItem{
    text-align: -webkit-center;
}
.dot{
    margin-top: 4px;
    height: 1px;
    width: 0%;
    background-color: $text;
    border-radius: calc(0.7rem - 1px);
    display: block;
    opacity: 0;
    transition: ease all 500ms;
}
a:hover{
    color: $text;
}
a:hover .dot{
    opacity: 1;
    width: 50%;
}
.twinkle{
    animation: twinkle 3000ms linear infinite !important;
}
.twinkle:hover{
    transition: ease 500ms!important;
    text-decoration-line: underline !important;
}
@keyframes twinkle{
    0%{color: $shadow;}
    50%{color: $text;}
    100%{color: $shadow;}
}
////COVER PAGE
.coverPage{
    height: 100vh;
    overflow-y: hidden !important;
} 
.coverPage h1{
    font-size: 3.5rem;
}
.coverPage p{
    margin-top: 16px;
}
////logo
.logo{
    font-size: 2.5rem !important;
    font-weight: bold;;
}
.colorDash{
    cursor: default;
    width: 0rem;
    height: 0rem;
    border-radius: calc(0.7rem - 1px);
    padding-left: 0rem;
    padding-right: 0rem;
    border: none !important;
    transition: ease all .7s;
}
.tagButton{
    outline: none;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border-radius :calc(0.7rem - 1px);
    padding: 0.25rem;
    transition: ease 500ms;
}
.tagButton:hover {
    border: 1px solid $bg;
    background-color: $text;
    color: $bg;
}
.tagInput {
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border: 1px $shadow solid;
    line-height: 1;
    border-radius: calc(0.7rem - 1px);
}
.tagInput:focus {
    border: 1px $text solid;
}

//shadow
.tagShadow{
    border-radius: calc(0.7rem - 1px);
    box-shadow: none;
    transition: ease all .7s;
}
.tagShadow:hover{
    box-shadow: 0px 0px 8px $shadow;
    transition: ease all .7s;
}