@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
body {
  font-family: 'Poiret One', cursive;
  color: #f0f0f0 !important;
  background-color: #0c0c0c !important;
  font-weight: bold !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold !important;
}

h2 {
  font-size: 2rem;
  font-weight: bold !important;
}

h3 {
  font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
}

h5 {
  font-weight: bold !important;
}

h6 {
  font-weight: bold !important;
}

p {
  font-size: 1.5rem;
}

nav {
  background-color: #0c0c0c;
}

.navLink {
  font-size: 1.3rem;
}

a {
  color: #6b6b6b;
  text-decoration: none !important;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

.dotItem {
  text-align: -webkit-center;
}

.dot {
  margin-top: 4px;
  height: 1px;
  width: 0%;
  background-color: #f0f0f0;
  border-radius: calc(0.7rem - 1px);
  display: block;
  opacity: 0;
  -webkit-transition: ease all 500ms;
  transition: ease all 500ms;
}

a:hover {
  color: #f0f0f0;
}

a:hover .dot {
  opacity: 1;
  width: 50%;
}

.twinkle {
  -webkit-animation: twinkle 3000ms linear infinite !important;
          animation: twinkle 3000ms linear infinite !important;
}

.twinkle:hover {
  -webkit-transition: ease 500ms !important;
  transition: ease 500ms !important;
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
}

@-webkit-keyframes twinkle {
  0% {
    color: #6b6b6b;
  }
  50% {
    color: #f0f0f0;
  }
  100% {
    color: #6b6b6b;
  }
}

@keyframes twinkle {
  0% {
    color: #6b6b6b;
  }
  50% {
    color: #f0f0f0;
  }
  100% {
    color: #6b6b6b;
  }
}

.coverPage {
  height: 100vh;
  overflow-y: hidden !important;
}

.coverPage h1 {
  font-size: 3.5rem;
}

.coverPage p {
  margin-top: 16px;
}

.logo {
  font-size: 2.5rem !important;
  font-weight: bold;
}

.colorDash {
  cursor: default;
  width: 0rem;
  height: 0rem;
  border-radius: calc(0.7rem - 1px);
  padding-left: 0rem;
  padding-right: 0rem;
  border: none !important;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.tagInput {
  width: 100%;
  height: 100%;
}

.tagShadow {
  border-radius: calc(0.7rem - 1px);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.tagShadow:hover {
  -webkit-box-shadow: 0px 0px 8px #6b6b6b;
          box-shadow: 0px 0px 8px #6b6b6b;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.projectDetailsBg {
  z-index: 9998;
  background-color: rgba(26, 24, 22, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.projectDetails {
  z-index: 9999;
  background-color: #0c0c0c;
  width: 80%;
  height: 95%;
  border-radius: calc(0.7rem - 1px);
}

.projectDetailsHeader {
  position: -webkit-sticky;
  position: sticky;
  background-color: #f0f0f0;
  border-top-left-radius: calc(0.7rem - 1px);
  border-top-right-radius: calc(0.7rem - 1px);
}

.projectDetailsHeader .prjTitle {
  color: #0c0c0c;
  font-size: 3.5rem;
  margin-bottom: 0rem;
}

.projectDetailsHeader .prjCateg {
  font-size: 1.3rem;
  color: #0c0c0c;
  margin-bottom: 0rem;
}

.projectDetailsHeader span {
  color: #0c0c0c;
  margin-bottom: 0rem;
}

.projectDetailsBody {
  width: 100%;
  overflow-y: scroll;
}

.projectDeatilsBody * {
  font-size: 1.3rem;
}

.prjDetImg {
  overflow: hidden;
  width: 100%;
  height: 80%;
}

.sectionTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: #f0f0f0 1px solid;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
}

.sectionSubTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: #f0f0f0 1px solid;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
}

.leftLine {
  border-left: #f0f0f0 1px solid;
  padding-left: 1rem;
}

.builtWithList {
  text-decoration: none;
  list-style: none;
}

.builtWithItem {
  font-size: 20.8px;
}

.builtWithItem .colorDash {
  margin-right: 0.5rem;
  height: 1.125rem;
  width: 1.125rem !important;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.commentProfilName {
  font-weight: bold;
}

.commentProfilP {
  margin-bottom: 0px;
}

.commentProfilPic {
  max-width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: calc(0.7rem - 1px);
}

.projectDetailsFooter {
  position: -webkit-sticky !important;
  position: sticky !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f0f0f0;
  border-bottom-left-radius: calc(0.7rem - 1px);
  border-bottom-right-radius: calc(0.7rem - 1px);
}

.projectDetailsFooter .tagButton {
  background-color: #f0f0f0;
}

.projectDetailsFooter span {
  font-size: 1.3rem;
  color: #0c0c0c;
  margin-bottom: 0rem;
}

.projectDetailsFooter .row {
  margin: 0% !important;
}

.projectDetailsFooter .tagInput {
  color: #0c0c0c;
  background-color: #f0f0f0;
  border: 1px #0c0c0c solid;
}

.commentInputCont {
  width: 80%;
  height: 2.5rem;
}

.commentInput {
  width: 100% !important;
  height: 100% !important;
  text-align: justify;
  font-size: 1.3rem;
  line-height: initial;
}

.commentButton {
  width: 20%;
}

.box {
  border: 2px #f0f0f0 solid;
  border-radius: calc(0.7rem - 1px);
  position: relative;
  width: 5rem;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ratingSlot {
  position: relative;
  width: 4.25rem;
  height: 2.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slotChild {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: calc(0.7rem - 1px);
}

.slotChild.isNotNumber {
  width: 0.75rem;
  height: 2.25rem;
  color: #f0f0f0;
  background-color: #0c0c0c;
}

.slotChild.isNotNumber h3 {
  color: #f0f0f0;
}

.slotChild.isNumber {
  width: 1.75rem;
  height: 2.25rem;
  border-radius: calc(0.7rem - 1px);
  color: #0c0c0c;
  background-color: #f0f0f0;
}

.slotChild.isNumber h3 {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0%;
  color: #0c0c0c;
}

.slotNumberAnimate {
  -webkit-animation: load 350ms ease-in-out infinite;
          animation: load 350ms ease-in-out infinite;
}

@-webkit-keyframes load {
  0% {
    top: -30px;
    opacity: 0;
  }
  5% {
    top: -26px;
    opacity: 0;
  }
  10% {
    top: -22px;
    opacity: 0.2;
  }
  15% {
    top: -18px;
    opacity: 0.4;
  }
  20% {
    top: -14px;
    opacity: 0.6;
  }
  25% {
    top: -10px;
    opacity: 0.8;
  }
  30% {
    top: -4px;
    opacity: 1;
  }
  35% {
    top: -3px;
    opacity: 1;
  }
  40% {
    top: -2px;
    opacity: 1;
  }
  45% {
    top: 0px;
    opacity: 1;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  55% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 2px;
    opacity: 1;
  }
  65% {
    top: 3px;
    opacity: 1;
  }
  70% {
    top: 4px;
    opacity: 1;
  }
  75% {
    top: 10px;
    opacity: 0.8;
  }
  80% {
    top: 14px;
    opacity: 0.6;
  }
  85% {
    top: 18px;
    opacity: 0.4;
  }
  90% {
    top: 22px;
    opacity: 0.2;
  }
  95% {
    top: 26px;
    opacity: 0;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

@keyframes load {
  0% {
    top: -30px;
    opacity: 0;
  }
  5% {
    top: -26px;
    opacity: 0;
  }
  10% {
    top: -22px;
    opacity: 0.2;
  }
  15% {
    top: -18px;
    opacity: 0.4;
  }
  20% {
    top: -14px;
    opacity: 0.6;
  }
  25% {
    top: -10px;
    opacity: 0.8;
  }
  30% {
    top: -4px;
    opacity: 1;
  }
  35% {
    top: -3px;
    opacity: 1;
  }
  40% {
    top: -2px;
    opacity: 1;
  }
  45% {
    top: 0px;
    opacity: 1;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  55% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 2px;
    opacity: 1;
  }
  65% {
    top: 3px;
    opacity: 1;
  }
  70% {
    top: 4px;
    opacity: 1;
  }
  75% {
    top: 10px;
    opacity: 0.8;
  }
  80% {
    top: 14px;
    opacity: 0.6;
  }
  85% {
    top: 18px;
    opacity: 0.4;
  }
  90% {
    top: 22px;
    opacity: 0.2;
  }
  95% {
    top: 26px;
    opacity: 0;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
/*# sourceMappingURL=styleProjectDetails.css.map */