@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
body {
  font-family: 'Poiret One', cursive;
  color: #f0f0f0 !important;
  background-color: #0c0c0c !important;
  font-weight: bold !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold !important;
}

h2 {
  font-size: 2rem;
  font-weight: bold !important;
}

h3 {
  font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
}

h5 {
  font-weight: bold !important;
}

h6 {
  font-weight: bold !important;
}

p {
  font-size: 1.5rem;
}

nav {
  background-color: #0c0c0c;
}

.navLink {
  font-size: 1.3rem;
}

a {
  color: #6b6b6b;
  text-decoration: none !important;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

.dotItem {
  text-align: -webkit-center;
}

.dot {
  margin-top: 4px;
  height: 1px;
  width: 0%;
  background-color: #f0f0f0;
  border-radius: calc(0.7rem - 1px);
  display: block;
  opacity: 0;
  -webkit-transition: ease all 500ms;
  transition: ease all 500ms;
}

a:hover {
  color: #f0f0f0;
}

a:hover .dot {
  opacity: 1;
  width: 50%;
}

.twinkle {
  -webkit-animation: twinkle 3000ms linear infinite !important;
          animation: twinkle 3000ms linear infinite !important;
}

.twinkle:hover {
  -webkit-transition: ease 500ms !important;
  transition: ease 500ms !important;
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
}

@-webkit-keyframes twinkle {
  0% {
    color: #6b6b6b;
  }
  50% {
    color: #f0f0f0;
  }
  100% {
    color: #6b6b6b;
  }
}

@keyframes twinkle {
  0% {
    color: #6b6b6b;
  }
  50% {
    color: #f0f0f0;
  }
  100% {
    color: #6b6b6b;
  }
}

.coverPage {
  height: 100vh;
  overflow-y: hidden !important;
}

.coverPage h1 {
  font-size: 3.5rem;
}

.coverPage p {
  margin-top: 16px;
}

.logo {
  font-size: 2.5rem !important;
  font-weight: bold;
}

.colorDash {
  cursor: default;
  width: 0rem;
  height: 0rem;
  border-radius: calc(0.7rem - 1px);
  padding-left: 0rem;
  padding-right: 0rem;
  border: none !important;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.tagInput {
  width: 100%;
  height: 100%;
}

.tagShadow {
  border-radius: calc(0.7rem - 1px);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.tagShadow:hover {
  -webkit-box-shadow: 0px 0px 8px #6b6b6b;
          box-shadow: 0px 0px 8px #6b6b6b;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.whoAmISection {
  cursor: default;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.whoAmISection:hover {
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.tagList {
  text-decoration: none;
  list-style: none;
}

.tagItem {
  text-decoration: none;
}

.aboutMeSection {
  cursor: default;
  width: 100%;
  padding: 1rem;
  border: 1px solid #6b6b6b;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.aboutMeSection:hover {
  border: 1px solid #f0f0f0;
}

.skillsItem {
  text-decoration: none;
}

.skillSection {
  cursor: default;
  width: 100%;
  padding: 1rem;
  border-radius: calc(0.7rem - 1px);
  border: 1px solid #6b6b6b;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.skillSection:hover {
  border: 1px solid #f0f0f0;
}

.skillSection:hover .proficiencyBox {
  width: 100%;
}

.skillSection:hover .colorDash {
  margin-right: 0.5rem;
  height: 1.125rem;
  width: 1.125rem !important;
  border: 1px solid #f0f0f0;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.skillSection:hover .profMsg {
  display: none;
  -webkit-transition: none;
  transition: none;
}

.proficiencyBoxOut {
  position: relative;
  height: 1.125rem;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.proficiencyBox {
  position: absolute;
  z-index: 2;
  height: 1.125rem;
  width: 0%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.proficiency {
  cursor: default;
  position: relative;
  height: 100%;
  width: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.profPercentageBox {
  cursor: default;
  margin-top: 0rem;
  position: absolute;
  height: 0rem;
  width: 0rem !important;
  border-radius: 50%;
  background-color: #f0f0f0;
  opacity: 0;
  -webkit-box-shadow: 0px 20px 28px #6b6b6b;
          box-shadow: 0px 20px 28px #6b6b6b;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.profPercentage {
  cursor: default;
  opacity: 0;
  margin: 0;
  color: #0c0c0c;
  font-size: 0rem;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.profMsg {
  position: absolute;
  z-index: 1;
}

.proficiency:hover .profPercentageBox {
  margin-top: 1.5rem;
  height: 2.75rem;
  width: 2.75rem !important;
  opacity: 1;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.proficiency:hover .profPercentage {
  opacity: 1;
  font-size: unset;
  font-weight: bold;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.diplomatSection {
  cursor: default;
  width: 100%;
  padding: 1rem;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
}

.diplomatItem {
  cursor: default;
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border: 1px solid #6b6b6b;
}

.diplomatItem:hover {
  border: 1px solid #f0f0f0;
}

.ball {
  background-color: #47a1c2;
  height: 3rem;
  width: 3rem;
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px #6b6b6b;
          box-shadow: 0px 0px 4px #6b6b6b;
  z-index: 0;
  margin-left: -3rem;
}

.onWave {
  position: relative;
  z-index: 2;
}
/*# sourceMappingURL=styleWhoAmI.css.map */