// Variables
@import 'variables';

//projects
.prj{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.prjImg {
    display: inline;
    width: 100%;
    height: auto;
    border-radius: calc(0.7rem - 1px);
  }
.prjTitle{
    font-size: 1.5rem;
}
.prjCateg{
    font-size:1rem;
}
.prjBody{
    height: 100%;
}
.prjButton{
    width: fit-content;
    padding: 3px 10px;
    background-color: transparent;
    color: $text;
    transition: .5s ease;
}

.overlay{
    background-color: $bg;
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    border-radius: calc(0.7rem - 1px);
}
.tagButton{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border: none;
    transition: ease 500ms;
}
.tagInput {
    width: auto;
    height: auto;
    text-decoration: none;
    background-color: $bg;
    color: $text;
    border: 1px $text solid;
    line-height: 1;
    border-radius: calc(0.7rem - 1px);
}
.mainButton{
    border: 1px $text solid;
    border-radius: calc(0.7rem - 1px);
    transition: ease 500ms;
}
.mainButton:hover{
    background-color: $text !important;
    color: $bg !important;
}
.prjHeader{
    position:relative;
}
.prjHeader:hover .overlay{
    opacity: 0.7;
}

.prjHeader:hover .text{
    opacity: 1;
}

.projects{
    position: relative;
}

.prjFooter{
    margin-top: 0.5rem;
}
.prjFooter *{
    margin:0;
}
.prjFooter *:hover{
    text-decoration: underline;
}