// Variables
@import 'variables';
@import 'app';

//whoAmI
.whoAmISection{
    cursor: default;
    padding: 1rem;
    margin-bottom: 2rem;
    transition: ease all .7s;
}
.whoAmISection:hover{
    transition: ease all .7s;
}
//lists and items
.tagList{
    text-decoration: none;
    list-style: none;
}
.tagItem{
    text-decoration: none;
}
//aboutMeSection
.aboutMeSection{
    cursor: default;
    width: 100%;
    padding: 1rem;
    border: 1px solid $shadow;
    transition: ease all .7s;
}
.aboutMeSection:hover{
    border: 1px solid $text;
}
//skillsSection
.skillsItem{
    text-decoration: none;
}
.skillSection{
    cursor: default;
    width: 100%;
    padding: 1rem;
    border-radius: calc(0.7rem - 1px);
    border: 1px solid $shadow;
    transition: ease all .7s;
}
.skillSection:hover{
    border: 1px solid $text;
}
.skillSection:hover .proficiencyBox{
    width: 100%;
}
.skillSection:hover .colorDash{
    margin-right: 0.5rem;
    height: 1.125rem;
    width: 1.125rem !important;
    border: 1px solid $text;
    transition: ease all .7s;
}
.skillSection:hover .profMsg{
    display: none;
    transition: none;
}
////proficiency
.proficiencyBoxOut{
    position: relative;
    height: 1.125rem;
    width: 100%;
    display: inline-flex;
    transition: ease all .7s;
}
.proficiencyBox{
    position: absolute;
    z-index: 2;
    height: 1.125rem;
    width: 0%;
    display: inline-flex;
    transition: ease all .7s;
}
.proficiency{
    cursor: default;
    position: relative;
    height: 100%;
    width: 0%;
    justify-content: center;
    align-content: center;
    transition: ease all .7s;
}
.profPercentageBox{
    cursor: default;
    margin-top: 0rem;
    position: absolute;
    height: 0rem;
    width: 0rem !important;
    border-radius: 50%;
    background-color: $text;
    opacity: 0;
    box-shadow: 0px 20px 28px $shadow;
    transition: ease all .7s;
}
.profPercentage{
    cursor: default;
    opacity: 0;
    margin: 0;
    color: $bg;
    font-size: 0rem;
    transition: ease all .7s;
}
.profMsg{
    position: absolute;
    z-index: 1;
}
.proficiency:hover .profPercentageBox{
    margin-top: 1.5rem;
    height: 2.75rem;
    width: 2.75rem !important;
    opacity: 1;
    transition: ease all .7s;
}
.proficiency:hover .profPercentage{
    opacity: 1;
    font-size: unset;
    font-weight: bold;
    transition: ease all .7s;
}
//diplomatsSection
.diplomatSection{
    cursor: default;
    width: 100%;
    padding: 1rem;
    transition: ease all .7s;
}
.diplomatItem{
    cursor: default;
    position: relative;
    display: inline-grid;
    width: 100% ;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border: 1px solid $shadow;
}
.diplomatItem:hover{
    border: 1px solid $text;
}
//ball
.ball{
    background-color: rgb(71, 161, 194);
    height: 3rem;
    width: 3rem;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 4px $shadow;
    z-index: 0;
    margin-left: -3rem;
}
.onWave{
    position: relative;
    z-index: 2;
}